footer {
    padding: 60px 0;
}

.lists_footer.d-flex {
    align-items: inherit;
}
footer .lists_footer .box.d-flex{
    align-items: inherit;
}
.lists_footer li {
    list-style: none;
}

.lists_footer li:first-of-type{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F1F1F;
}
.footer_li_margin{
    margin-bottom: 15px;
}
.lists_footer li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #3D3D3D;
    text-decoration: none;
}