header {
    background: #fff;
    padding: 20px 54px 20px 55px;

}
.promo_banner{
    background: #C2E8CE;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1F1F1F;
    padding: 15px 0;
}
.close_position{
    position: relative;
}
.close{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.close:before{
    transform: rotate(-45deg);
    content: "";
    background: #1F1F1F;
    top: 50%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
}
.close:after{
    content: "";
    background: #1F1F1F;
    top: 50%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    transform: rotate(45deg);

}
.logo_header{
    padding-right: 40px;
}

header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin: 0 20px;
}

header nav a{
    text-decoration: none;
    color: #1F1F1F;
}
header nav li a:hover{
    color: aqua;
}


header nav li a:after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f078";
    margin-left: 7px;
    font-size: 10px;
}

.shevron_none:after{
    content: "";
}
.font-nav{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

}

.top_icones{
    list-style: none;
    margin-right: 5px;
    margin-left: 5px;
}
.cart {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #BFBFBF;
    position: relative;
}
.cart a{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
}

.cart_p{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #FF8126;
    position: absolute;
    left: 40px;
    display: flex;
    justify-content: center;
}
.cart_p p{

    font-family: 'poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 14px;
    color: #FFFFFF;
}