footer{
    display: flex;
    justify-content: center;
}

footer .container{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;

}
footer .container .logo_footer{

    margin-right: 87px;
}


.lists_footer{
    display: flex;
    justify-content: space-between;

}

.lists_footer .list_ocassions, .list_all_categoties, .list_gifts, .list_our_brands{
    max-width: 171px;
    margin-right:83px;

}

.lists_footer li{
    list-style: none;

}
.lists_footer li:first-of-type{
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F1F1F;
}
.lists_footer li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #3D3D3D;
    text-decoration: none;

}