@media only screen and (max-width: 768px){

    .container{
        max-width: 720px;
    }

    /*=====>>>header*/

    .h3_gift{
        padding: 15px;

    }

    header{
        padding: 20px 0;
        border-bottom: 1px solid rgba(138, 138, 138, 0.16);
    }

    header nav{
        order: 1;
        margin-bottom: 25px;
        width: 100%;

    }

    header .container{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .font-nav{
        justify-content: space-around;
    }

    .font-nav li{
        margin: 0;
    }

    .logo_header{
        padding-right: 0;
        margin-bottom: 20px;
    }

    /*=====>>>sectiom_2*/

    .offers{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .offers h1{
        margin: 0 0 25px 0;
    }

    .offers .offers_main{
        flex-wrap: wrap;
        background: none;
        box-shadow: none;
        justify-content: space-around;
    }

    .offers_main div{
        max-width: 270px;
        background: #F7F5F0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        text-align: center;
        padding-bottom: 37px;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .offers_main div img{
        padding-bottom: 0;
        margin-bottom: 20px;
    }

    .offers_main div p{
        height: inherit;
        margin-bottom: 5px;
    }

    .offers_main div p:last-of-type{
        margin-bottom: 20px;
    }

    .offers a{
        position: inherit;
        width:inherit;
        max-height: inherit;
        margin: 0;
        padding: 6px 64px 7px;
    }

    /*=====>>>section_3*/

    .why_choose{
        padding-top: 0;
        padding-bottom: 25px;
    }

    .d-flex_why_choose{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .dignity img{
        display: block;
        margin: auto;
    }

    /*=====>>>section_4*/

    .who_makes{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 35px;
    }

    .who_makes .container.d-flex{
        flex-wrap: wrap;
    }

    .who_makes .container.d-flex div{
        padding-bottom: 25px;
        text-align: center;
    }

    .charity_partner{
        margin-top: 0;
    }

    .who_makes img{
        border-radius: 30px;
        margin-bottom: 25px;
    }

    /*=====>>>section_5*/

    .charity_partner{
    }
    /*=====>>>section_6*/

    .surprise{
        padding-top: 25px;
        margin-bottom: 0;
        padding-bottom: 35px;
    }

    .surprise .container{
        flex-direction: column;
    }

    .surprise .container div{
        max-width: 720px;
    }

    .surprise img {
        width: 100%;
        padding-right: 0;
    }

    /*=====>>>section_7*/



    /*=====>>>section_8*/

    .tell_a_friend{
        padding: 30px 0 ;
    }

    .tell_a_friend .tell{
        margin-bottom: 20px;
    }

    .tell_a_friend .networks{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .tell_a_friend li:first-child{
        margin-left: 0;
    }

    .tell_a_friend li{
        margin: 0;
    }

    .tell_a_friend li:last-child{
        margin-right: 0;
    }

    /*=====>>>Footer*/


}