.who_makes {
    margin-top: 80px;
    margin-bottom: 78px;
}

.who_makes h2 {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: black;
    padding-bottom: 20px;
}

.who_makes h2 span {
    color: #FF8126;
}

.who_makes p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
    margin-bottom: 40px;
    margin-right: 30px;
}

.who_makes ul {
    list-style: none;
    margin-right: 30px;
}

.who_makes ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
    padding-bottom: 20px;
    display: flex;
}

.who_makes ul li:last-of-type {
    margin-bottom: 30px;
    padding-bottom: 0;
}

.who_makes ul li:before {
    content: " ";
    background-image: url("../images/check_mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF8126;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 15px;
    flex-shrink: 0;
}

.who_makes a {
    background-color: #FF8126;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 8px 30px 10px;
    max-width: 270px;
}

.who_makes img {
    display: block;
    width: 100%;
}
