.instagram{
    padding-top: 80px;
    padding-bottom: 80px;
}
.instagram h3{
    color: black;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-family: Cormorant;
    margin-bottom: 40px;
}
.instagram span{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-decoration-line: underline;
    color: #FF8126;
    margin-bottom: 40px;
    font-family: Cormorant;
}
.vegetables{
    max-width: 126px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.instagram .vegetables img{
width: 100%;
}
